html {
  background-image: url('https://assets.forefront.ai/images/1708134008344-1f72afc9-5a18-4954-a374-8a56834af484.png');
  background-size: cover;
  background-attachment: fixed; /* This will prevent the background from scrolling */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px; /* Adjust the padding as needed */
  text-align: right;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* Add this CSS for the projects section */
.projects {
  padding: 20px;
  text-align: center;
  
}

.project {
  display: inline-block;
  width: 15%; /* Adjust the width as needed */
  margin: 10px;
  padding: 10px;
  background-color: #fff; /* White background for the squares */
  border-radius: 5px;
}

.project h3 {
  margin-bottom: 5px;
}

.project p {
  font-size: 14px;
}
